<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
    http://code.alibabatech.com/schema/dubbo
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd ">

    <!-- 扫描装载 自动实例化指定包以及子包下的所有bean -->
    <context:component-scan base-package="com.yonghui.*"/>

    <!-- 开启注解功能 -->
    <context:annotation-config/>

    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="portal-api-service"/>

    <!-- 不注册到任务地方，只提供服务 -->
    <!--<dubbo:registry address="N/A"/>-->

    <!-- 使用zookeeper注册中心暴露服务地址 -->
    <dubbo:registry protocol="zookeeper" address="${dubbo.registry.address}"/>

    <!-- 用dubbo协议在20880端口暴露服务 -->
    <dubbo:protocol name="dubbo" port="20880"/>

    <!-- 使用注解方式暴露接口(存在Dubbo不能同时使用@Service和@Transactional问题)，扫描注解包路径，多个包用逗号分隔，不填pacakge表示扫描当前ApplicationContext中所有的类 -->
    <!--<dubbo:annotation package="com.yonghui.portal.service" />-->

    <!-- 使用配置的方式暴露接口，声明需要暴露的服务接口 -->
    <!-- 多数据源测试 -->
    <bean id="testDataSourceService" class="com.yonghui.portal.service.impl.test.TestDataSourceServiceImpl"/>
    <dubbo:service interface="com.yonghui.portal.service.test.TestDataSourceService" ref="testDataSourceService"
                   timeout="60000"/>
    <!-- 报表储存过程统一入口服务 -->
    <bean id="apiService" class="com.yonghui.portal.service.impl.ApiServiceImpl"/>
    <dubbo:service interface="com.yonghui.portal.service.ApiService" ref="apiService" timeout="60000"/>

    <!--存储过程管理  -->
    <bean id="cProMeterdataInformationService"
          class="com.yonghui.portal.service.impl.CProMeterdataInformationServiceImpl"/>
    <dubbo:service interface="com.yonghui.portal.service.CProMeterdataInformationService"
                   ref="cProMeterdataInformationService" timeout="60000"/>

    <!--菜单管理 、 门店大区课组公共接口  -->
    <bean id="menuService" class="com.yonghui.portal.service.impl.global.MenuServiceImpl"/>
    <dubbo:service interface="com.yonghui.portal.service.global.MenuService" ref="menuService" timeout="60000"/>

    <!--首页公告、实时销售  -->
    <bean id="noticelService" class="com.yonghui.portal.service.impl.global.NoticelServiceImpl"/>
    <dubbo:service interface="com.yonghui.portal.service.NoticeService" ref="noticelService" timeout="60000"/>

    <!-- 登录，用户相关操作-->
    <bean id="userService" class="com.yonghui.portal.service.impl.global.UserServiceImpl"/>
    <dubbo:service interface="com.yonghui.portal.service.global.UserService" ref="userService" timeout="60000"/>

    <!-- token持久化-->
    <bean id="tokenApiService" class="com.yonghui.portal.service.impl.TokenApiServiceImpl"/>
    <dubbo:service interface="com.yonghui.portal.service.TokenApiService" ref="tokenApiService" timeout="60000"/>

    <!-- 用户菜单数据-->
    <bean id="userAuthMenuService" class="com.yonghui.portal.service.impl.sys.UserAuthMenuServiceImpl"/>
    <dubbo:service interface="com.yonghui.portal.service.sys.UserAuthMenuService" ref="userAuthMenuService"
                   timeout="60000"/>

    <!-- 用户权限数据R_M mapping-->
    <bean id="userAuthRoleMenuService" class="com.yonghui.portal.service.impl.sys.UserAuthRoleMenuServiceImpl"/>
    <dubbo:service interface="com.yonghui.portal.service.sys.UserAuthRoleMenuService" ref="userAuthRoleMenuService"
                   timeout="60000"/>

    <!-- 用户角色数据-->
    <bean id="roleService" class="com.yonghui.portal.service.impl.global.RoleServiceImpl"/>
    <dubbo:service interface="com.yonghui.portal.service.global.RoleService" ref="roleService" timeout="60000"/>

    <!-- 天天赛马 -->
    <bean id="everyDayHorseRacingService" class="com.yonghui.portal.service.impl.horse.EveryDayHorseRacingServiceImpl"/>
    <dubbo:service interface="com.yonghui.portal.service.horse.EveryDayHorseRacingService"
                   ref="everyDayHorseRacingService"
                   timeout="60000"/>

    <!-- 赛马数据导入 -->
    <bean id="horseImportExcelService" class="com.yonghui.portal.service.impl.horse.HorseImportExcelServiceImpl"/>
    <dubbo:service interface="com.yonghui.portal.service.horse.HorseImportExcelService" ref="horseImportExcelService"
                   timeout="60000"/>

    <bean id="horseStoreWarningService" class="com.yonghui.portal.service.impl.horse.HorseStoreWarningServiceImpl"/>
    <dubbo:service interface="com.yonghui.portal.service.horse.HorseStoreWarningService" ref="horseStoreWarningService"
                   timeout="60000"/>

    <!-- 数据统一口径 -->
    <bean id="dataMapIndexApertureService"
          class="com.yonghui.portal.service.impl.horse.DataMapIndexApertureServiceImpl"/>
    <dubbo:service interface="com.yonghui.portal.service.horse.DataMapIndexApertureService"
                   ref="dataMapIndexApertureService"
                   timeout="60000"/>

    <!-- 用户日志操作 -->
    <bean id="sysoperationLogService" class="com.yonghui.portal.service.impl.sys.SysoperationLogServiceImpl"/>
    <dubbo:service interface="com.yonghui.portal.service.sys.SysoperationLogService" ref="sysoperationLogService"
                   timeout="60000"/>

    <!-- 前端TABLE   api -->
    <bean id="tableDataService" class="com.yonghui.portal.service.impl.table.TableDataServiceImpl"/>
    <dubbo:service interface="com.yonghui.portal.service.table.TableDataService" ref="tableDataService"
                   timeout="60000"/>


    <!-- 生鲜商行报表  -->
    <bean id="freshReportsService" class="com.yonghui.portal.service.impl.fresh.FreshReportsServiceImpl" />
    <dubbo:service interface="com.yonghui.portal.service.fresh.FreshReportsService" ref="freshReportsService" timeout="60000"/>
</beans>