<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yonghui.portal.mapper.common.DBravoShopAddressMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="dBravoShopAddressMap" type="com.yonghui.portal.model.common.DBravoShopAddress">
        <result property="id" column="ID"/>
        <result property="shopid" column="ShopID"/>
        <result property="address" column="address"/>
        <result property="longitude" column="longitude"/>
        <result property="latitude" column="Latitude"/>
        <result property="remark" column="REMARK"/>
        <result property="creater" column="CREATER"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="modifier" column="MODIFIER"/>
        <result property="modifyTime" column="MODIFY_TIME"/>
        <result property="disabled" column="DISABLED"/>
        <result property="version" column="VERSION"/>
    </resultMap>

    <select id="queryObject" resultType="com.yonghui.portal.model.common.DBravoShopAddress">
		select * from d_bravo_shop_address where ID = #{value}
	</select>

    <select id="queryList" resultType="com.yonghui.portal.model.common.DBravoShopAddress">
        select * from d_bravo_shop_address
        <where>
            <if test="shopid != null and shopid !=''">
                and shopid like concat('%',#{shopid},'%')
            </if>
            <if test="address != null and address !=''">
                and address like concat('%',#{address},'%')
            </if>
            <if test="keyword != null and keyword !=''">
                and (
                shopid like concat('%',#{keyword},'%')
                or address like concat('%',#{keyword},'%')
                )
            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by ID desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="queryTotal" resultType="int">
        select count(*) from d_bravo_shop_address
        <where>
            <if test="id != null and id !=''">
                and id = #{id}
            </if>
            <if test="remark != null and remark !=''">
                and remark like concat('%',#{remark},'%')
            </if>
        </where>
    </select>

    <insert id="save" parameterType="com.yonghui.portal.model.common.DBravoShopAddress">
		insert into d_bravo_shop_address
		(
			`ID`, 
			`ShopID`, 
			`address`, 
			`longitude`, 
			`Latitude`, 
			`REMARK`, 
			`CREATER`, 
			`CREATE_TIME`, 
			`MODIFIER`, 
			`MODIFY_TIME`, 
			`DISABLED`, 
			`VERSION`
		)
		values
		(
			#{id}, 
			#{shopid}, 
			#{address}, 
			#{longitude}, 
			#{latitude}, 
			#{remark}, 
			#{creater}, 
			now(),
			#{modifier}, 
			NOW(), 
			#{disabled}, 
			#{version}
		)
	</insert>

    <update id="update" parameterType="com.yonghui.portal.model.common.DBravoShopAddress">
        update d_bravo_shop_address
        <set>
            <if test="shopid != null">`ShopID` = #{shopid},</if>
            <if test="address != null">`address` = #{address},</if>
            <if test="longitude != null">`longitude` = #{longitude},</if>
            <if test="latitude != null">`Latitude` = #{latitude},</if>
            <if test="remark != null">`REMARK` = #{remark},</if>
            <if test="modifier != null">`MODIFIER` = #{modifier},</if>
            `MODIFY_TIME` = NOW(),
            <if test="disabled != null">`DISABLED` = #{disabled},</if>
            <if test="version != null">`VERSION` = #{version}</if>
        </set>
        where ID = #{id}
    </update>

    <delete id="delete">
		delete from d_bravo_shop_address where ID = #{value}
	</delete>

    <delete id="deleteBatch">
        delete from d_bravo_shop_address where ID in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>