<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yonghui.portal.mapper.app.AppRolesMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="appRolesMap" type="com.yonghui.portal.model.app.AppRoles">
        <result property="id" column="id"/>
        <result property="roleName" column="role_name"/>
        <result property="createUser" column="create_user"/>
        <result property="updateUser" column="update_user"/>
        <result property="memo" column="memo"/>
        <result property="loadTime" column="load_time"/>
        <result property="createdAt" column="created_at"/>
		<result property="updatedAt" column="updated_at"/>
    </resultMap>

	<select id="queryObject" resultType="com.yonghui.portal.model.app.AppRoles">
		select * from appauthority.sys_roles where id = #{value}
	</select>

	<select id="queryList" resultType="com.yonghui.portal.model.app.AppRoles">
		select * from appauthority.sys_roles
        <where>
            <if test="id != null and id !=''">
                and id = #{id}
            </if>
            <if test="roleName != null and roleName !=''">
                and role_name like concat('%',#{roleName},'%')
            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="queryTotal" resultType="int">
		select count(*) from appauthority.sys_roles
        <where>
            <if test="id != null and id !=''">
                and id = #{id}
            </if>
            <if test="roleName != null and roleName !=''">
                and role_name  like concat('%',#{roleName},'%')
            </if>
        </where>
	</select>

    <insert id="save" parameterType="com.yonghui.portal.model.app.AppRoles" useGeneratedKeys="true" keyProperty="id">
		insert into appauthority.sys_roles
		(
			`role_name`, 
			`create_user`, 
			`update_user`, 
			`memo`, 
			`load_time`, 
			`created_at`
		)
		values
		(
			#{roleName}, 
			#{createUser}, 
			#{updateUser}, 
			#{memo}, 
			#{loadTime}, 
			now()
		)
	</insert>

    <update id="update" parameterType="com.yonghui.portal.model.app.AppRoles">
        update appauthority.sys_roles
        <set>
			<if test="roleName != null">`role_name` = #{roleName}, </if>
			<if test="createUser != null">`create_user` = #{createUser}, </if>
			<if test="updateUser != null">`update_user` = #{updateUser}, </if>
			<if test="memo != null">`memo` = #{memo}, </if>
			<if test="loadTime != null">`load_time` = #{loadTime}, </if>
			<if test="createdAt != null">`created_at` = #{createdAt}, </if>
			`updated_at` = now()
        </set>
        where id = #{id}
    </update>
	
	<delete id="delete">
		delete from appauthority.sys_roles where id = #{value}
	</delete>
	
	<delete id="deleteBatch">
		delete from appauthority.sys_roles where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>