<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yonghui.portal.mapper.sys.UserAuthRoleMenuMapper" >
    <resultMap id="BaseResultMap" type="com.yonghui.portal.model.global.RoleMenu" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="roleId" property="roleId" jdbcType="INTEGER" />
        <result column="menuId" property="menuId" jdbcType="VARCHAR" />
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, roleId, menuId, createTime
    </sql>

    <select id="getUserRoleId" parameterType="Integer" resultMap="BaseResultMap">
        select * from  platform.r_role_menu_forfront where roleid=#{roleid}
    </select>
</mapper>