<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yonghui.portal.mapper.cindex.ReportDimIndexMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="reportDimIndexMap" type="com.yonghui.portal.model.cindex.ReportDimIndex">
        <result property="id" column="id"/>
        <result property="dimid" column="dimID"/>
        <result property="dimname" column="dimName"/>
        <result property="dimlab" column="dimLab"/>
        <result property="updatetime" column="updatetime"/>
    </resultMap>

	<select id="queryObject" resultType="com.yonghui.portal.model.cindex.ReportDimIndex">
		select * from report_dim_index where id = #{value}
	</select>

	<select id="queryList" resultType="com.yonghui.portal.model.cindex.ReportDimIndex">
		select * from report_dim_index
        <where>
            <if test="id != null and id !=''">
                and id like concat('%',#{id},'%')
            </if>
            <if test="remark != null and remark !=''">
                and remark like concat('%',#{remark},'%')
            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="queryListOpt" resultType="com.yonghui.portal.model.cindex.ReportDimIndex">
		select * from report_dim_index
	</select>

 	<select id="queryTotal" resultType="int">
		select count(*) from report_dim_index
        <where>
            <if test="id != null and id !=''">
                and id = #{id}
            </if>
            <if test="remark != null and remark !=''">
                and remark like concat('%',#{remark},'%')
            </if>
        </where>
	</select>

    <insert id="save" parameterType="com.yonghui.portal.model.cindex.ReportDimIndex" useGeneratedKeys="true" keyProperty="id">
		insert into report_dim_index
		(
			`dimID`, 
			`dimName`, 
			`dimLab`, 
			`updatetime`
		)
		values
		(
			#{dimid}, 
			#{dimname}, 
			#{dimlab}, 
			#{updatetime}
		)
	</insert>

    <update id="update" parameterType="com.yonghui.portal.model.cindex.ReportDimIndex">
        update report_dim_index
        <set>
			<if test="dimid != null">`dimID` = #{dimid}, </if>
			<if test="dimname != null">`dimName` = #{dimname}, </if>
			<if test="dimlab != null">`dimLab` = #{dimlab}, </if>
			<if test="updatetime != null">`updatetime` = #{updatetime}</if>
        </set>
        where id = #{id}
    </update>
	
	<delete id="delete">
		delete from report_dim_index where id = #{value}
	</delete>
	
	<delete id="deleteBatch">
		delete from report_dim_index where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>