<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yonghui.portal.mapper.global.MenuMapper">
    <resultMap id="BaseResultMap" type="com.yonghui.portal.model.global.Menu">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="url" property="url"/>
        <result column="pid" property="pid"/>
        <result column="icon" property="icon"/>
        <result column="createTime" property="createTime"/>
        <result column="status" property="status"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="sort" property="sort"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, name, url, pid, icon, createTime, status
    </sql>
    <!--区域公共部分 begin-->

    <select id="getLargeAreaListByUser" resultType="Map">
        <!-- select '全部' as district union -->
        select DISTINCT AreaName as district,AreaID from platform.`d_bravo_shop`
        where AreaName=#{district}
    </select>

    <select id="getNewStoreListByDistrict" resultType="Map">
        SELECT sap_shopId as id, SName as text FROM platform.`d_bravo_shop` WHERE
        1=1
        <if
                test="district != '' and district != null  and district != 'ALL' and district !='全部'">
            and areaMans = #{district}
        </if>

        <if test="list != null ">
            and sap_shopId in
            <foreach collection="list" item="item" open="(" separator=","
                     close=")">
                '${item}'
            </foreach>
        </if>
        order by areaMans
    </select>

    <select id="getNewStoreListByDistrictNotUser" resultType="Map">
        SELECT sap_shopId as id, SName as text FROM platform.`d_bravo_shop` WHERE areaMans =#{district}
    </select>

    <select id="getStoreListByDistrict" resultType="Map">
        SELECT
        sap_shopId as id, SName as text
        FROM
        platform.`d_bravo_shop`
        WHERE
        1=1
        <if test="district != '' and district != null  and district != 'ALL' and district !='全部'">
            and AreaName = #{district}
        </if>

        <if test="list != null ">
            and sap_shopId in
            <foreach collection="list" item="item" open="(" separator=","
                     close=")">
                '${item}'
            </foreach>
        </if>
        order by AreaName
    </select>

    <select id="broveStoreLittleIdList" resultType="Map">

        <if test="list == null ">
            select 'ALL' as id,'全部' as text ,'全部' as gname
            union
        </if>
        select DISTINCT groupid as id ,groupname as text,gname from
        platform.d_grouplist

        where 1=1

        <if test="list != null ">
            and groupid in
            <foreach collection="list" item="item" open="(" separator=","
                     close=")">
                ${item}
            </foreach>
        </if>
    </select>


    <select id="broveStoreLittleIdNotTwoOneOneList" resultType="Map">
        <if test="list == null ">
            select 'ALL' as id,'全部' as text ,'全部' as gname
            union
        </if>
        select distinct groupid as id,groupname as text,gname from platform.d_grouplist where groupid !=211
    </select>

    <select id="broveStoreLittleIdListByFinance" resultType="Map">
        <if test="list == null ">
            select 'ALL' as id,'全部' as text ,'全部' as gname
            union
        </if>
        select DISTINCT groupid as id ,groupname as text,gname from
        platform.d_grouplist
        where 1=1
        and type=1
        <if test="list != null ">
            and groupid in
            <foreach collection="list" item="item" open="(" separator=","
                     close=")">
                ${item}
            </foreach>
        </if>
    </select>

    <select id="secondClusterList" resultType="Map">
        SELECT
        sap_shopId as id, SName as text
        FROM
        dw.`d_bravo_shop`
        WHERE
        1=1
        <if test="district != '' ">
            <!-- and AreaName = #{district} -->
            and AreaName IN ('广东', '北京', '华东', '华西','福建','四川','河北','东北')
        </if>
        <if test="province!=null and province!='' ">
            and province = #{province}
        </if>
    </select>


    <!--以下确认有用到-->
    <select id="getLargeAreaList" resultType="Map">
        select DISTINCT AreaName as district,AreaID from platform.`d_bravo_shop`
    </select>

    <select id="getNewAreaMansListByUser" resultType="Map">
        select DISTINCT areaMans from platform.`d_bravo_shop`
        <where>
            Congou=1
            <if test="largeArea != null and largeArea !=''">
                and AreaName = #{largeArea}
            </if>
        </where>
    </select>
    <!-- 新大区 -->
    <select id="getNewAreaMansList" resultType="Map">
        select DISTINCT areaMans from platform.`d_bravo_shop` WHERE Congou=1;
    </select>

    <select id="getNewAreaMansListByLargeArea" parameterType="Map" resultType="Map">
        select DISTINCT areaMans from platform.`d_bravo_shop`
        <where>
            Congou=1
            <if test="largeArea != null and largeArea !=''">
                and AreaName = #{largeArea}
            </if>
        </where>
    </select>


    <select id="getFifthRotation" resultType="Map">
        select groupId as id,gName as text from platform.d_grouplist_sm group by groupId
    </select>

    <select id="getBravoShopList" parameterType="Map" resultType="Map">
        select sap_shopId as id, SName as text
        from platform.d_bravo_shop
        <where>
            Congou=1
            <if test="largeArea != null and largeArea !='' and largeArea!='ALL'">
                and AreaName = #{largeArea}
            </if>
            <if test="areaMans != null and areaMans !='' and areaMans!='ALL'">
                and AreaMans = #{areaMans}
            </if>
            <if test="province != null and province !='' and province!='ALL'">
                and province = #{province}
            </if>
            <if test="city != null and city !='' and city!='ALL'">
                and city = #{city}
            </if>
        </where>
        order by AreaName,AreaMans;
    </select>
    <!--以上确认有用到-->
    <!--区域公共部分 end-->

    <!--用户角色菜单 begin-->
    <select id="listRoleMenu" parameterType="List" resultMap="BaseResultMap">
        select *,1 as checked from platform.menu_forfront
        <if test="null != list ">
            where id in
            <foreach collection="list" item="list" index="index" open="("
                     close=")" separator=",">
                #{list}
            </foreach>
        </if>
        order by sort asc
    </select>

    <select id="listRoleMenuByRoleId" resultMap="BaseResultMap">
        call platform.query_role_menu(#{value});
        <!--select *,1 as checked from platform.menu_forfront-->
        <!--<if test="null != value ">-->
        <!--where id in-->
        <!--(select menuId from platform.r_role_menu_forfront where roleId = #{value})-->
        <!--</if>-->
        <!--order by sort asc-->
    </select>

    <select id="listMenu" resultMap="BaseResultMap">
        select * from platform.menu_forfront order by sort asc
    </select>

    <select id="getUserRoleId" parameterType="Integer" resultType="com.yonghui.portal.model.global.RoleMenu">
        select * from platform.r_role_menu_forfront where roleid=#{roleid}
    </select>

    <!--用户角色菜单 end-->

    <!--用户角色菜单 增删改查 begin-->
    <select id="queryObject" resultType="com.yonghui.portal.model.global.Menu">
        select m.*,(select p.name from platform.menu_forfront p where p.id = m.pid) as pName
        from platform.menu_forfront m where m.id = #{value}
    </select>

    <select id="queryList" resultType="com.yonghui.portal.model.global.Menu">
        select m.*,(select p.name from platform.menu_forfront p where p.id = m.pid) as pName
        from platform.menu_forfront m
        <where>
            <if test="id != null and id !=''">
                and m.id = #{id}
            </if>
            <if test="name != null and name !=''">
                and m.`name` like concat('%',#{name},'%')
            </if>
            <if test="pid != null and pid !=''">
                and m.`pid` =#{pid} or m.id=#{pid}
            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by m.id asc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="queryTotal" resultType="int">
        select count(*) from platform.menu_forfront m
        <where>
            <if test="id != null and id !=''">
                and id = #{id}
            </if>
            <if test="name != null and name !=''">
                and `name` like concat('%',#{name},'%')
            </if>
            <if test="pid != null and pid !=''">
                and m.`pid` =#{pid} or m.id=#{pid}
            </if>
        </where>
    </select>

    <select id="queryUserList" resultType="com.yonghui.portal.model.global.Menu">
        select distinct m.*,(select p.name from platform.menu_forfront p where p.id = m.pid) as parentName
        from platform.sys_user ur
        LEFT JOIN platform.menu_forfront m on 1=1
        where ur.id = #{userId} order by m.id asc
    </select>

    <insert id="save" parameterType="com.yonghui.portal.model.global.Menu" useGeneratedKeys="true" keyProperty="id">
        insert into platform.menu_forfront
        (
        `name`,
        `url`,
        `pid`,
        `position`,
        `icon`,
        `createTime`,
        `status`,
        `created_at`,
        `sort`
        )
        values
        (
        #{name},
        #{url},
        #{pid},
        0,
        #{icon},
        now(),
        <choose>
            <when test="status != null and status.trim() != ''">
                #{status},
            </when>
            <otherwise>
                1,
            </otherwise>
        </choose>
        now(),
        #{sort}
        )
    </insert>

    <update id="update" parameterType="com.yonghui.portal.model.global.Menu">
        update platform.menu_forfront
        <set>
            <if test="name != null">`name` = #{name},</if>
            <if test="url != null">`url` = #{url},</if>
            <if test="pid != null">`pid` = #{pid},</if>
            <if test="icon != null">`icon` = #{icon},</if>
            <if test="status != null">`status` = #{status},</if>
            <if test="sort != null">`sort` = #{sort},</if>
            `position` = 0,
            `updated_at` = now()
        </set>
        where id = #{id}
    </update>

    <delete id="delete">
        delete from platform.menu_forfront where id = #{value}
    </delete>

    <delete id="deleteBatch">
        delete from platform.menu_forfront where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


    <select id="queryChildrenList" resultType="com.yonghui.portal.model.global.Menu">
        select m.*,(select p.name from platform.menu_forfront p where p.id = m.pid) as pName
        from platform.menu_forfront m where m.`pid` =#{value}
        order by m.sort asc
    </select>


    <select id="queryMenuSort" resultType="com.yonghui.portal.model.global.Menu">
        select m.`id`,m.`sort`
        from platform.menu_forfront m where m.`id` =#{value}
        order by m.sort asc
    </select>
    <!--用户角色菜单 增删改查 end-->


</mapper>