<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yonghui.portal.mapper.businessman.BusinessmanActicleMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="businessmanActicleMap" type="com.yonghui.portal.model.businessman.BusinessmanActicle">
        <result property="id" column="id"/>
        <result property="acticleType" column="acticle_type"/>
        <result property="acticleRoles" column="acticle_roles"/>
        <result property="acticleGroups" column="acticle_groups"/>
        <result property="appPush" column="app_push"/>
        <result property="tagInfo" column="tag_info"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="abstracts" column="abstracts"/>
        <result property="coverImg" column="cover_img"/>
        <result property="status" column="status"/>
        <result property="pageview" column="pageview"/>
        <result property="remark" column="REMARK"/>
        <result property="creater" column="CREATER"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="modifier" column="MODIFIER"/>
        <result property="modifyTime" column="MODIFY_TIME"/>
        <result property="disabled" column="DISABLED"/>
        <result property="version" column="VERSION"/>
    </resultMap>

	<select id="queryObject" resultType="com.yonghui.portal.model.businessman.BusinessmanActicle">
		select * from businessman_acticle where id = #{value}
	</select>

	<select id="queryList" resultType="com.yonghui.portal.model.businessman.BusinessmanActicle">
		select * from businessman_acticle
        <where>
            <if test="id != null and id !=''">
                and id like concat('%',#{id},'%')
            </if>
            <if test="remark != null and remark !=''">
                and remark like concat('%',#{remark},'%')
            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="queryTotal" resultType="int">
		select count(*) from businessman_acticle
        <where>
            <if test="id != null and id !=''">
                and id = #{id}
            </if>
            <if test="remark != null and remark !=''">
                and remark like concat('%',#{remark},'%')
            </if>
        </where>
	</select>

    <insert id="save" parameterType="com.yonghui.portal.model.businessman.BusinessmanActicle" useGeneratedKeys="true" keyProperty="id">
		insert into businessman_acticle
		(
			`acticle_type`, 
			`acticle_roles`, 
			`acticle_groups`, 
			`app_push`, 
			`tag_info`, 
			`title`, 
			`content`, 
			`abstracts`, 
			`cover_img`, 
			`status`, 
			`pageview`, 
			`REMARK`, 
			`CREATER`, 
			`CREATE_TIME`, 
			`MODIFIER`, 
			`MODIFY_TIME`, 
			`DISABLED`, 
			`VERSION`
		)
		values
		(
			#{acticleType}, 
			#{acticleRoles}, 
			#{acticleGroups}, 
			#{appPush}, 
			#{tagInfo}, 
			#{title}, 
			#{content}, 
			#{abstracts}, 
			#{coverImg}, 
			#{status}, 
			#{pageview}, 
			#{remark}, 
			#{creater}, 
			#{createTime}, 
			#{modifier}, 
			NOW(), 
			#{disabled}, 
			#{version}
		)
	</insert>

    <update id="update" parameterType="com.yonghui.portal.model.businessman.BusinessmanActicle">
        update businessman_acticle
        <set>
			<if test="acticleType != null">`acticle_type` = #{acticleType}, </if>
			<if test="acticleRoles != null">`acticle_roles` = #{acticleRoles}, </if>
			<if test="acticleGroups != null">`acticle_groups` = #{acticleGroups}, </if>
			<if test="appPush != null">`app_push` = #{appPush}, </if>
			<if test="tagInfo != null">`tag_info` = #{tagInfo}, </if>
			<if test="title != null">`title` = #{title}, </if>
			<if test="content != null">`content` = #{content}, </if>
			<if test="abstracts != null">`abstracts` = #{abstracts}, </if>
			<if test="coverImg != null">`cover_img` = #{coverImg}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="pageview != null">`pageview` = #{pageview}, </if>
			<if test="remark != null">`REMARK` = #{remark}, </if>
			<if test="creater != null">`CREATER` = #{creater}, </if>
			<if test="createTime != null">`CREATE_TIME` = #{createTime}, </if>
			<if test="modifier != null">`MODIFIER` = #{modifier}, </if>
			`MODIFY_TIME` = NOW(), 
			<if test="disabled != null">`DISABLED` = #{disabled}, </if>
			<if test="version != null">`VERSION` = #{version}</if>
        </set>
        where id = #{id}
    </update>
	
	<delete id="delete">
		delete from businessman_acticle where id = #{value}
	</delete>
	
	<delete id="deleteBatch">
		delete from businessman_acticle where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>