<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yonghui.portal.mapper.fresh.FreshReportsMapper">

	<select id="areaExcel" resultType="Map" parameterType="Map">
		call fresh.query_theme_fresh_sales_survey(7,DATE_FORMAT(#{sDate},"%Y%m%d"),DATE_FORMAT(#{eDate},"%Y%m%d"),#{holdName},'','','','','') ;
	</select>

	<select id="shopExcel" resultType="Map" parameterType="Map">
		call fresh.query_theme_fresh_sales_survey(8,DATE_FORMAT(#{sDate},"%Y%m%d"),DATE_FORMAT(#{eDate},"%Y%m%d"),#{holdName},'','','','','') ;
	</select>

	<select id="wastageAreaExcel" resultType="Map" parameterType="Map">
		call fresh.query_theme_fresh_wastage_survey(7,DATE_FORMAT(#{sDate},"%Y%m%d"),DATE_FORMAT(#{eDate},"%Y%m%d"),#{holdName},'','','','')

	</select>

	<select id="wastageShopExcel" resultType="Map" parameterType="Map">
		call fresh.query_theme_fresh_wastage_survey(8,DATE_FORMAT(#{sDate},"%Y%m%d"),DATE_FORMAT(#{eDate},"%Y%m%d"),#{holdName},'','','','') ;
	</select>

	<!-- 负毛利概况 -->
	<select id="minusProfitSurvey" resultType="Map" parameterType="Map">
		<if test="holdName != null and areaName == null and className == null and areaMans == null">
			call fresh.query_theme_fresh_minusProfit_survey (1,DATE_FORMAT(#{sDate},"%Y%m%d"),DATE_FORMAT(#{eDate},"%Y%m%d"),#{holdName},'','','')
		</if>
		<if test="holdName != null and areaName == null and className != null and areaMans == null">
			call fresh.query_theme_fresh_minusProfit_survey (2,DATE_FORMAT(#{sDate},"%Y%m%d"),DATE_FORMAT(#{eDate},"%Y%m%d"),#{holdName},'',#{className},'')
		</if>
		<if test ="holdName != null and areaName != null and className != null and areaMans == null">
			call fresh.query_theme_fresh_minusProfit_survey (3,DATE_FORMAT(#{sDate},"%Y%m%d"),DATE_FORMAT(#{eDate},"%Y%m%d"),#{holdName},#{areaName},#{className},'')
		</if>
		<if test="holdName != null and areaName != null and className != null and areaMans != null">
			call fresh.query_theme_fresh_minusProfit_survey (4,DATE_FORMAT(#{sDate},"%Y%m%d"),DATE_FORMAT(#{eDate},"%Y%m%d"),#{holdName},#{areaName},#{className},#{areaMans})
		</if>
	</select>

</mapper>