<!DOCTYPE html>
<html>
<head>
<title></title>
    #parse("sys/header.html")
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
        <div id="queryDiv" class="queryDiv">
            <div class="grid-btn">
                <div class="form-group col-sm-2">
                    <input type="text" class="form-control" v-model="portalProcedure.id" @keyup.enter="query" placeholder="主键ID">
                </div>
                <div class="form-group col-sm-2">
                	<input type="text" class="form-control" v-model="portalProcedure.remark" @keyup.enter="query" placeholder="备注说明">
                </div>
                <a class="btn btn-primary" @click="query">查询</a>

				#if($shiro.hasPermission("portalprocedure:save"))
				<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
				#end
				#if($shiro.hasPermission("portalprocedure:update"))
				<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
				#end
				#if($shiro.hasPermission("portalprocedure:delete"))
				<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
				#end
			</div>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
			<div class="form-group">
			   	<div class="col-sm-2 control-label">存储过程唯一编码</div>
			   	<div class="col-sm-10">
			        <input type="text" class="form-control" v-model="portalProcedure.procode" placeholder="存储过程唯一编码"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">标题简介</div>
			   	<div class="col-sm-10">
			        <input type="text" class="form-control" v-model="portalProcedure.title" placeholder="标题简介"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">数据源唯一编码</div>
			   	<div class="col-sm-10">
			        <input type="text" class="form-control" v-model="portalProcedure.dataSourceCode" placeholder="数据源唯一编码"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">存储过程名称,用户执行</div>
			   	<div class="col-sm-10">
			        <input type="text" class="form-control" v-model="portalProcedure.proname" placeholder="存储过程名称,用户执行"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">存储过程执行参数，格式如aa@@bb@@cc</div>
			   	<div class="col-sm-10">
			        <input type="text" class="form-control" v-model="portalProcedure.parameter" placeholder="存储过程执行参数，格式如aa@@bb@@cc"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">数据源（不启用）</div>
			   	<div class="col-sm-10">
			        <input type="text" class="form-control" v-model="portalProcedure.prodb" placeholder="数据源（不启用）"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">说明</div>
			   	<div class="col-sm-10">
			        <input type="text" class="form-control" v-model="portalProcedure.remark" placeholder="说明"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">创建人</div>
			   	<div class="col-sm-10">
			        <input type="text" class="form-control" v-model="portalProcedure.creater" placeholder="创建人"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">创建时间</div>
			   	<div class="col-sm-10">
			        <input type="text" class="form-control" v-model="portalProcedure.createTime" placeholder="创建时间"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">修改人</div>
			   	<div class="col-sm-10">
			        <input type="text" class="form-control" v-model="portalProcedure.modifier" placeholder="修改人"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">修改时间</div>
			   	<div class="col-sm-10">
			        <input type="text" class="form-control" v-model="portalProcedure.modifyTime" placeholder="修改时间"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">启用,禁用(0启用，1禁用)</div>
			   	<div class="col-sm-10">
			        <input type="text" class="form-control" v-model="portalProcedure.disabled" placeholder="启用,禁用(0启用，1禁用)"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">版本号</div>
			   	<div class="col-sm-10">
			        <input type="text" class="form-control" v-model="portalProcedure.version" placeholder="版本号"/>
			    </div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="${rc.contextPath}/js/portalprocedure/portalprocedure.js?_${date.systemTime}"></script>
</body>
</html>