<!DOCTYPE html>
<html>
<head>
    <title></title>
    #parse("sys/header.html")
    <style>
        #keyword{
            width: 220px;
        }
        .keyword{
            max-width: 240px;
        }
    </style>
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div id="queryDiv" class="queryDiv">
            <div class="grid-btn">
                <div class="form-group col-sm-2 keyword">
                    <input type="text" class="form-control" id="keyword" @keyup.enter="query"
                           placeholder="编码 / 标题 / 存储过程名">
                </div>
                <a class="btn btn-primary" @click="query">查询</a>

                #if($shiro.hasPermission("portalprocedure:save"))
                <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
                #end
                #if($shiro.hasPermission("portalprocedure:update"))
                <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
                #end
                #if($shiro.hasPermission("portalprocedure:delete"))
                <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
                #end
                #if($shiro.hasPermission("portalprocedure:save"))
                <a class="btn btn-danger" @click="addRedis">一键缓存</a>
                #end
            </div>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label">唯一编码</div>
                <div class="col-sm-10">
                    <input type="text" name="code" id="procode" class="form-control" v-model="portalProcedure.procode"
                           placeholder="存储过程唯一编码(格式例：PRO_000001)"/>
                    <input type="hidden" v-model="portalProcedure.procodeOld" placeholder="存储过程唯一编码"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">标题简介</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="portalProcedure.title" placeholder="标题简介"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">数据源唯一编码</div>
                <div class="col-sm-10">
                    <!-- <input type="text" class="form-control" v-model="portalProcedure.dataSourceCode"
                            placeholder="数据源唯一编码"/>-->
                    <select class="form-control" id="dataList" v-model="portalProcedure.dataSourceCode"
                            placeholder="数据源唯一编码"></select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">存储过程名</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="portalProcedure.proname"
                           placeholder="存储过程名称,用户执行"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">执行参数</div>
                <div class="col-sm-10">
                    <!--<input type="text" class="form-control" v-model="portalProcedure.parameter"
                           placeholder="存储过程执行参数，格式如aa@@bb@@cc"/>-->
                    <textarea class="form-control" v-model="portalProcedure.parameter"
                              placeholder="存储过程执行参数，格式如aa@@bb@@cc"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">所在数据库</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="portalProcedure.prodb" placeholder="数据源（所在库）"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">说明</div>
                <div class="col-sm-10">
                    <textarea class="form-control" v-model="portalProcedure.remark" placeholder="说明"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${rc.contextPath}/js/portalprocedure/portalprocedure.js?_${date.systemTime}"></script>
</body>
</html>