<!DOCTYPE html>
<html>
<head>
<title></title>
    #parse("sys/header.html")
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
        <div id="queryDiv" class="queryDiv">
            <div class="grid-btn">
                <div class="form-group col-sm-2">
                    <input type="text" class="form-control" v-model="appGroups.id" @keyup.enter="query" placeholder="主键ID">
                </div>
                <div class="form-group col-sm-2">
                	<input type="text" class="form-control" v-model="appGroups.groupName" @keyup.enter="query" placeholder="备注说明">
                </div>
                <a class="btn btn-primary" @click="query">查询</a>

				#if($shiro.hasPermission("appgroups:save"))
				<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
				#end
				#if($shiro.hasPermission("appgroups:update"))
				<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
				#end
				#if($shiro.hasPermission("appgroups:delete"))
				<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
				#end
			</div>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label">群组ID</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="appGroups.groupId" placeholder="群组ID"/>
                </div>
            </div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">群组名</div>
			   	<div class="col-sm-10">
			        <input type="text" class="form-control" v-model="appGroups.groupName" placeholder="群组名"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">备注</div>
			   	<div class="col-sm-10">
			        <input type="text" class="form-control" v-model="appGroups.memo" placeholder="备注"/>
			    </div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="${rc.contextPath}/js/app/appgroups.js?_${date.systemTime}"></script>
</body>
</html>