<!DOCTYPE html>
<html>
<head>
    <title></title>
    #parse("sys/header.html")
    <style type="text/css">
        /* 标签样式 */

        .tags span {
            font: 12px/22px 'Microsoft Yahei', Arial, Lucida Grande, Tahoma;
            border: 1px #E3E0D9 solid;
            display: inline-block;
            background: #FFF;
            text-align: center;
            padding: 2px 7px;
            margin: 1px 4px;
            cursor: pointer;
            -webkit-transition: all .3s ease-in-out;
            -moz-transition: all .3s ease-in-out;
            overflow: hidden;
            color: #989898;
        }

        .tags span:hover {
            border-color: #00956d;
        }

        .tags span.active {
            color: #FFF;
            border-color: #00956d;
            background-color: #00956d;
        }
    </style>
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div id="queryDiv" class="queryDiv">
            <div class="grid-btn">
                <div class="form-group col-sm-2">
                    <input type="text" class="form-control" v-model="appMenu.menuId" @keyup.enter="query"
                           placeholder="主键ID">
                </div>
                <div class="form-group col-sm-2">
                    <input type="text" class="form-control" v-model="appMenu.name" @keyup.enter="query"
                           placeholder="父菜单">
                </div>
                <div class="form-group col-sm-2">
                    <input type="text" class="form-control" v-model="appMenu.subName" @keyup.enter="query"
                           placeholder="子菜单">
                </div>
                <div class="form-group col-sm-2">
                    <label class="radio-inline">
                        <input type="radio" name="t" value="1" v-model="appMenu.type" checked="true"/> 生意概况
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="t" value="2" v-model="appMenu.type"/> 报表
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="t" value="3" v-model="appMenu.type"/> 专题
                    </label>
                </div>
                <a class="btn btn-primary" @click="query">查询</a>

                #if($shiro.hasPermission("appmenu:save"))
                <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
                #end
                #if($shiro.hasPermission("appmenu:update"))
                <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
                #end
                #if($shiro.hasPermission("appmenu:delete"))
                <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
                #end
            </div>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <div class="col-sm-10">
                    <div type="text" class="form-control">目前只能配置PDF和外部web页面</div>
                </div>
            </div>

            <div v-if="appMenu.id != null" class="form-group">
                <div class="col-sm-2 control-label">菜单ID</div>
                <div  class="col-sm-10">
                    <input type="text" class="form-control" v-model="appMenu.menuId" readonly placeholder=""/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">一级菜单</div>
                <div class="col-sm-10" v-if="appMenu.id != null" >
                    <label class="radio-inline">
                        <input type="radio" name="type" value="1" disabled v-model="appMenu.type"/> 生意概况
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="type" value="2" disabled v-model="appMenu.type"/> 报表
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="type" value="3" disabled v-model="appMenu.type"/> 专题
                    </label>
                </div>
                <div class="col-sm-10" v-if="appMenu.id == null">
                    <label class="radio-inline">
                        <input type="radio" name="type" value="1" v-model="appMenu.type"/> 生意概况
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="type" value="2" v-model="appMenu.type"/> 报表
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="type" value="3" v-model="appMenu.type"/> 专题
                    </label>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">二级菜单</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="appMenu.subName1" placeholder=""/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">三级菜单</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="appMenu.subName2" placeholder=""/>
                </div>
            </div>
            <div  class="form-group">
                <div class="col-sm-2 control-label">标题</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="appMenu.title" placeholder=""/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">链接地址</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="appMenu.url" placeholder=""/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">是否公开</div>
                <div class="col-sm-10" v-if="appMenu.id != null" >
                    <label class="radio-inline">
                        <input type="radio" name="publicly" value="true"  v-model="appMenu.publicly"/> 是
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="publicly" value="false"  v-model="appMenu.publicly"/> 否
                    </label>
                    </label>
                </div>
                <div class="col-sm-10" v-if="appMenu.id == null">
                    <label class="radio-inline">
                        <input type="radio" name="publicly" value="true" v-model="appMenu.publicly"/> 是
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="publicly" value="false" v-model="appMenu.publicly"/> 否
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">所属角色</div>
                <div class="col-sm-10">
                    <div id="tagsdlg"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${rc.contextPath}/js/app/appmenus.js?_${date.systemTime}"></script>
</body>
</html>