<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yonghui.portal.mapper.api.PortalReportMapper">

    <select id="queryObject" resultType="com.yonghui.portal.model.report.PortalReport">
		select * from portal_report where id = #{id}
	</select>

    <select id="queryObjectByCode" resultType="com.yonghui.portal.model.report.PortalReport">
        select * from portal_report where code = #{code}
    </select>

    <select id="queryList" parameterType="map" resultType="com.yonghui.portal.model.report.PortalReport">
        select * from portal_report
        <where>
            <if test="code != null and code !=''">
                and code like concat('%',#{code},'%')
            </if>
            <if test="title != null and title !=''">
                and title like concat('%',#{title},'%')
            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="queryTotal" parameterType="map" resultType="int">
        select count(*) from portal_report
        <where>
            <if test="id != null and id !=''">
                and id = #{id}
            </if>
            <if test="remark != null and remark !=''">
                and remark like concat('%',#{remark},'%')
            </if>
        </where>
    </select>

    <insert id="save" parameterType="com.yonghui.portal.model.report.PortalReport">
		insert into portal_report
		(
			`id`,
			`code`,
			`title`,
			`execute_code`,
			`execute_type`,
			`remark`,
			`creater`,
			`create_time`,
			`modifier`,
			`modify_time`,
			`disabled`,
			`version`
		)
		values
		(
			#{id},
			#{code},
			#{title},
			#{executeCode},
			#{executeType},
			#{remark},
			#{creater},
			#{createTime},
			#{modifier},
			NOW(),
			#{disabled},
			#{version}
		)
	</insert>

    <update id="update" parameterType="com.yonghui.portal.model.report.PortalReport">
        update portal_report
        <set>
            <if test="code != null">`code` = #{code}, </if>
            <if test="title != null">`title` = #{title}, </if>
            <if test="executeCode != null">`execute_code` = #{executeCode}, </if>
            <if test="executeType != null">`execute_type` = #{executeType}, </if>
            <if test="remark != null">`remark` = #{remark}, </if>
            <if test="creater != null">`creater` = #{creater}, </if>
            <if test="createTime != null">`create_time` = #{createTime}, </if>
            <if test="modifier != null">`modifier` = #{modifier}, </if>
            `modify_time` = NOW(),
            <if test="disabled != null">`disabled` = #{disabled}, </if>
            <if test="version != null">`version` = #{version}</if>
        </set>
        where code = #{codeOld}
	</update>

    <!-- 批量删除 -->
    <delete id="deleteBatch" parameterType="int">
        delete from portal_report where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


    <delete id="deleteBatchByCodes" parameterType="int">
        delete from portal_report where code in
        <foreach item="code" collection="array" open="(" separator="," close=")">
            #{code}
        </foreach>
    </delete>
</mapper>