<!DOCTYPE html>
<html>
<head>
    <title>生意人公告信息表</title>
    #parse("sys/header.html")

    <!-- kindeditor -->
    <link rel="stylesheet" href="${rc.contextPath}/statics/plugins/kindeditor/themes/default/default.css"/>
    <script charset="utf-8" src="${rc.contextPath}/statics/plugins/kindeditor/kindeditor-min.js"></script>
    <script charset="utf-8" src="${rc.contextPath}/statics/plugins/kindeditor/lang/zh_CN.js"></script>
    <!-- fileinput -->
    <link rel="stylesheet" href="${rc.contextPath}/statics/plugins/fileinput/css/fileinput.min.css"/>
    <script charset="utf-8" src="${rc.contextPath}/statics/plugins/fileinput/js/fileinput.min.js"></script>
    <!--
    <link rel="stylesheet" href="${rc.contextPath}/statics/plugins/fileinput/css/fileinput-rtl.min.css"/>
    <script charset="utf-8" src="${rc.contextPath}/statics/plugins/fileinput/js/plugins/piexif.min.js"></script>
    <script charset="utf-8" src="${rc.contextPath}/statics/plugins/fileinput/js/plugins/purify.min.js"></script>
    <script charset="utf-8" src="${rc.contextPath}/statics/plugins/fileinput/js/plugins/sortable.min.js"></script>
     -->
    <script charset="utf-8" src="${rc.contextPath}/statics/plugins/fileinput/js/locales/zh.js"></script>
    <!-- 图片自适应大小 -->
    <script type="text/javascript"
            src="${rc.contextPath}/statics/plugins/jquery-autoimg/jQuery.autoIMG.min.js"></script>
    <!-- 日期  -->
    <link href="${rc.contextPath}/statics/plugins/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet"
          media="screen">
    <script type="text/javascript" src="${rc.contextPath}/statics/plugins/datetimepicker/bootstrap-datetimepicker.js"
            charset="UTF-8"></script>
    <script type="text/javascript"
            src="${rc.contextPath}/statics/plugins/datetimepicker/bootstrap-datetimepicker.zh-CN.js"
            charset="UTF-8"></script>

    <link rel="stylesheet" href="${rc.contextPath}/statics/css/businessman/businessmannotice.css"/>
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div id="queryDiv" class="queryDiv">
            <div class="grid-btn">
                <div class="form-group col-sm-2">
                    <input type="text" class="form-control" v-model="businessmanNotice.id" @keyup.enter="query"
                           placeholder="主键ID">
                </div>
                <div class="form-group col-sm-2">
                    <input type="text" class="form-control" v-model="businessmanNotice.remark" @keyup.enter="query"
                           placeholder="备注说明">
                </div>
                <a class="btn btn-primary" @click="query">查询</a>

                #if($shiro.hasPermission("businessmannotice:save"))
                <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
                #end
                #if($shiro.hasPermission("businessmannotice:update"))
                <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
                #end
                #if($shiro.hasPermission("businessmannotice:delete"))
                <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
                #end
            </div>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label">公告类型</div>
                <div class="col-sm-10">
                    <!-- <input type="text" class="form-control" v-model="businessmanNotice.noticeType" placeholder="公告类型 1：系统公告 2：业务公告 3：预警消息 4：报表评论"/>-->
                    <select id="noticeType" class="form-control" v-model="businessmanNotice.noticeType">
                        <option value="1">系统公告</option>
                        <option value="2">业务公告</option>
                        <option value="3">预警消息</option>
                        <option value="4">报表评论</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">发布范围角色编码</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="businessmanNotice.noticeRoles"
                           placeholder="发布范围角色编码 如：101,102,103"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">发布范围群组编码</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="businessmanNotice.noticeGroups"
                           placeholder="发布范围群组编码 如：10001,10002,10003"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">是否APP推送</div>
                <label class="radio-inline">
                    <input type="radio" name="type" value="0" v-model="businessmanNotice.appPush"/>
                    推送
                </label>
                <label class="radio-inline">
                    <input type="radio" name="type" value="1" v-model="businessmanNotice.appPush"/>
                    不推送
                </label>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">状态</div>
                <label class="radio-inline">
                    <input type="radio" name="disabled" value="0" v-model="businessmanNotice.disabled"/>
                    启用
                </label>
                <label class="radio-inline">
                    <input type="radio" name="disabled" value="1" v-model="businessmanNotice.disabled"/>
                    禁用
                </label>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">标题</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="businessmanNotice.title" placeholder="标题"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">封面图</div>
                <div class="col-sm-10">
                    <div class="form-group" id="form-group-file-cover">
                        <input id="file-cover" type="file" class="file-loading">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <div class="col-sm-10">
                    <div class="bd description">
                        <div class="tab-bar">
                            <a href="javascript:void(0)" class="active">摘要</a>
                            <a href="javascript:void(0)">正文</a>
                            <div class="clear"></div>
                        </div>
                        <div class="pc-des">
                    <textarea style="width:100%;height:200px;" kindEditor="true" v-model="businessmanNotice.abstracts"
                              placeholder="摘要" id="abstracts" name="abstracts"></textarea>
                        </div>
                        <div class="pc-des">
                    <textarea style="width:100%;height:200px;" kindEditor="true" v-model="businessmanNotice.contentManuscript"
                              placeholder="正文" id="content" name="contentManuscript"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">过期时间</div>
                <div class="col-sm-10">
                    <!-- <input type="text" class="form-control" v-model="businessmanNotice.expireTime" placeholder="过期时间，有效截止期"/>-->
                    <input type="text" id="expireTime" v-model="businessmanNotice.expireTime"
                           class="form-control date  form_date input-sm"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">说明</div>
                <div class="col-sm-10">
                    <textarea type="text" class="form-control" v-model="businessmanNotice.remark"
                              placeholder="说明"></textarea>
                </div>
            </div>
            <!--<div class="form-group">
                   <div class="col-sm-2 control-label">启用,禁用</div>
                   <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="businessmanNotice.disabled" placeholder="启用,禁用(0启用，1禁用)"/>
                </div>
            </div>-->
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate(1)" value="保存"/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="button" class="btn btn-info" @click="saveOrUpdate(2)" value="发布"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${rc.contextPath}/js/businessman/businessmannotice.js?_${date.systemTime}"></script>
<script src="${rc.contextPath}/js/businessman/businessmannoticefileinput.js?_${date.systemTime}"></script>
</body>
</html>